<%=form_for(@invitation) do |f| %>
  <p>
    <%= f.hidden_field :team_id %>
    <%= f.label :recipient_email, "Friend's email address" %><br />
    <%= f.text_field :recipient_email %>
  </p>
  <p><%= f.submit "Invite!" %></p>
<% end %>

